.hai5{ position: relative;
    top:50px;
    left: 90px;
    
}

.hai1{
    position: relative;
    top: 50px;
    left: 130px;
}
@media (max-width: 728px){
.hai5{
   
    position: relative;
    top:30px;
    left: 40px;
}

.hai1{
    position: relative;
    top: 30px;
    left: 80px;
}}